@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: none;
}

body {
  background-color: #c5c5c5;
  font-family: "Orbitron";
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: hidden;
}

body .loader {
  position: fixed;
  top: -100%;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #000;
  z-index: 20;
}

body .cursor {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  translate: -50% -50%;
  background-color: #000;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  z-index: 10;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .cursor::after {
  content: "";
  height: 6px;
  width: 6px;
  background-color: #000;
  border-radius: 50%;
}

body main {
  padding: 0 3em;
}

body main .landing_page {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .landing_page header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 1em;
}

body main .landing_page header .toggle_up {
  display: none;
}

body main .landing_page header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  gap: 3em;
  position: relative;
}

body main .landing_page header nav ul .toggle_down {
  display: none;
}

body main .landing_page header nav ul li {
  list-style: none;
  padding: 0.4em;
}

body main .landing_page header nav ul li:hover {
  -webkit-transform: translateY(1em);
          transform: translateY(1em);
}

body main .landing_page header nav ul li a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
}

body main .landing_page header nav ul .contact {
  border: 1px solid #000;
}

@media (max-width: 900px) {
  body main .landing_page header .toggle_up {
    height: 3em;
    width: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    background-color: #000;
    cursor: pointer;
    -webkit-transition: 500ms cubic-bezier(1, 0, 0, 1);
    transition: 500ms cubic-bezier(1, 0, 0, 1);
  }
  body main .landing_page header .toggle_up .bar {
    height: 2px;
    width: 1.5em;
    background-color: #c5c5c5;
    -webkit-transition: 200ms cubic-bezier(1, 0, 0, 1);
    transition: 200ms cubic-bezier(1, 0, 0, 1);
  }
  body main .landing_page header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #c5c5c5;
    translate: 100% 0;
    -webkit-transition: 900ms cubic-bezier(1, 0, 0, 1);
    transition: 900ms cubic-bezier(1, 0, 0, 1);
  }
  body main .landing_page header nav ul .toggle_down {
    position: absolute;
    top: 1em;
    right: 1em;
    height: 3em;
    width: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
    background-color: #000;
    cursor: pointer;
  }
  body main .landing_page header nav ul .toggle_down .bar {
    height: 2px;
    width: 1.5em;
    background-color: #c5c5c5;
    -webkit-transition: 200ms cubic-bezier(1, 0, 0, 1);
    transition: 200ms cubic-bezier(1, 0, 0, 1);
  }
  body main .landing_page header nav ul .toggle_down .bar1 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    position: absolute;
  }
  body main .landing_page header nav ul .toggle_down .bar2 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
  }
}

body main .landing_page .landing_page_container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body main .landing_page .landing_page_container .text_title {
  font-size: 4em;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #c5c5c5;
  text-shadow: black 2px 0px 0px, black 1.75517px 0.95885px 0px, black 1.0806px 1.68294px 0px, black 0.14147px 1.99499px 0px, black -0.83229px 1.81859px 0px, black -1.60229px 1.19694px 0px, black -1.97998px 0.28224px 0px, black -1.87291px -0.70157px 0px, black -1.30729px -1.5136px 0px, black -0.42159px -1.95506px 0px, black 0.56732px -1.91785px 0px, black 1.41734px -1.41108px 0px, black 1.92034px -0.55883px 0px;
}

body main .landing_page .landing_page_container .text_title span {
  margin: 0;
}

body main .landing_page .landing_page_container .text_subs {
  font-size: 3em;
  margin: 1 0 5em 0;
  border: 1px solid #000;
  border-radius: 2em;
  padding: 0.3em 1em;
}

body main .landing_page .landing_page_container .img_container {
  position: absolute;
  bottom: 3em;
}

body main .landing_page .landing_page_container .img_container img {
  opacity: 20%;
  -webkit-transition: 800ms;
  transition: 800ms;
  mix-blend-mode: lighten;
}

body main .landing_page .landing_page_container .img_container .linear {
  position: absolute;
  bottom: 0;
  height: 6em;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff000000), color-stop(60%, #c5c5c5));
  background: linear-gradient(#ff000000, #c5c5c5 60%);
}

body main .landing_page .landing_page_container .medias {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

body main .landing_page .landing_page_container .medias a {
  padding: 0.5em;
  color: #000;
  text-decoration: none;
}

body main .landing_page .landing_page_container .medias a i {
  font-size: 1.3em;
}
/*# sourceMappingURL=style.css.map */