@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
}

*::-moz-selection {
  color: #474747;
  background-color: #ffffff;
}

*::selection {
  color: #474747;
  background-color: #ffffff;
}

*:focus {
  border: none;
  color: #474747;
  background-color: #ffffff;
  outline: none;
}

body {
  background: #474747;
  font-family: "Baloo Bhai 2", cursive;
  position: relative;
  margin: 0;
  padding: 0;
  position: relative;
}

.bgVideo {
  display: none;
}

@media (min-width: 900px) {
  .bgVideo {
    display: block;
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    pointer-events: none;
    z-index: -1;
  }
  .loader {
    position: fixed;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cursor {
    height: 20px;
    width: 20px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    translate: 30% -80%;
    -webkit-transition: 0.05s;
    transition: 0.05s;
    pointer-events: none;
  }
  .container {
    height: 100vh;
    -webkit-backdrop-filter: blur(100px);
            backdrop-filter: blur(100px);
    padding: 0 1em;
  }
  .container .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .header .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1em;
  }
  .container .header .navigation a {
    padding: 0.5em 1em;
    -webkit-transition: 400ms;
    transition: 400ms;
  }
  .container .header .navigation a:hover {
    padding: 0.5em 1.3em;
    background-color: #ffffff;
    color: #474747;
  }
  .container .header .responsive_nav_toggle {
    display: none;
  }
  .container .landing_page {
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .container .landing_page .presentation {
    margin: 0 0 1em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container .landing_page .presentation h1 {
    margin: 0;
    font-size: 2em;
  }
  .container .landing_page .presentation .what_i_do {
    font-size: 1em;
    margin: 0;
  }
  .container .landing_page .presentation .liens {
    height: 60px;
    width: 440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .landing_page .presentation .liens a {
    border: 1px solid #ffffff;
    padding: 0.4em 5em;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  .container .landing_page .presentation .liens a:hover {
    background-color: #ffffff;
    color: #474747;
  }
  .container .landing_page .reseaux {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 5px;
  }
  .container .landing_page .reseaux a i {
    font-size: 1.1em;
  }
}
/*# sourceMappingURL=style.css.map */