$bg: #151515;
$font: "Baloo Bhai 2", cursive;
$center: "center";
$bet: "space-between";

* {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  user-select: none;

  &::selection {
    color: #151515;
    background-color: #f8ffc8;
  }

  &:focus {
    border: none;
    color: $bg;
    // background-color: $col;
    outline: none;
  }
}
@font-face {
  font-family: global-font;
  src: url("../font/global.ttf");
}

// @font-face {
//   font-family: stereo;
//   src: url("../font/Stereofunk.ttf");
// }

body {
  margin: 0;
  padding: 0;
  background-color: #151515;
  // background: url("../assets/bpt.webp");
  font-family: global-font;
  height: 100vh;
  position: relative;

  .container {
    margin: 0 3em;
    position: relative;
    height: 100%;
  }
}

.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    a {
      font-size: 3em;
    }
  }

  &__nav {
    height: 100%;

    * {
      height: 100%;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2em;

      li {
        list-style: none;
        //   width: 7em;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
          height: max-content;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1em;

          &::before {
            content: "";
            height: 2px;
            width: calc(100% + 0.3em);
            background-color: #fff;
            position: absolute;
            bottom: -5px;
          }
        }
      }
    }
  }
}

.blocks__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1em;
  min-height: 465px !important;
  max-height: 465px !important;
  border: 2px solid red;

  .block {
    height: 450px !important;
    width: 220px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    margin: 0 1em !important;
    position: relative !important;
    border: 1px solid #ffffff10;
    cursor: pointer;

    .arrow-container {
      position: absolute;
      top: 30px;
      right: -20px;
      height: 3em;
      width: 3em;
      background-color: #f8ffc8;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;

      .arrow {
        transform: rotate(45deg);
        opacity: 1;
      }
    }

    .deco {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 300px;
    }

    &:nth-child(1) {
      background: url("../assets/img-1.jpg");
    }
    &:nth-child(2) {
      background: url("../assets/img-2.jpg");
    }
    &:nth-child(3) {
      background: url("../assets/img-3.jpg");
    }
    &:nth-child(4) {
      background: url("../assets/img-4.jpg");
    }
    &:nth-child(5) {
      background: url("../assets/img-5.jpg");
    }
    &:nth-child(6) {
      background: url("../assets/img-6.jpg");
    }
    &:nth-child(7) {
      background: url("../assets/img-2.jpg");
    }
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 1em 2em;

  .mailto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .medias {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 4px;
    padding-bottom: 1.5em;
  }
}
